html, body, .container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: flex;
    padding: 10px;
}

.wrapper1 {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #d0d6d6;
}

.topic{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #69acc7;
}

.comname{
    width: 70%;
    font-size: 50px;
    font-weight: 500;
}

.btn{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn button{
    height: 70px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #87ceeb;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navi{
    width: 100%;
    height: 7vh;
    margin-top: 7px;
    padding-left: 10px;
    background-color: #8ac3da;

}

.nav-link{
    font-size: 25px;
    color: #042630;
    text-decoration: none;
}

.wrapper2{
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.topic1{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    background-color: snow;
}

#t1{
    margin-top: 10px;
}

#navlink {
    margin-left: 150px;
}

.topicArt{
    width: 100%;
    height: 10rem;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: snow;
}

.dp{
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    margin-left: 1rem;
}

.dp img{
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
}

.wrap{
    height: 5rem;
    width: 20rem;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.wrap2{
    height: 5rem;
    width: 20rem;
}

.t1{
    height: 50%;
    width: 100%;
    display: flex;

}

.t1 p{
    margin-top: 15px;
}

.flbtn{
    height: 5rem;
    width: 5rem;
}

.art{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 20px;
    background-color: snow;
}