:root{
    --color-primary: #03131A;
    --color-secondary: #d0d6d6;
    --color-bluegray: #86b9b0;
    --color-lightbluegray: #4c7273;
    --color-darkblue: #042630;
    --color-accent: #87ceeb;
}

.annie-use-your-telescope-regular {
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 400;
    font-style: normal;
}

.sue-ellen-francisco-regular {
    font-family: "Sue Ellen Francisco", cursive;
    font-weight: 400;
    font-style: normal;
}

.gowun-dodum-regular {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
}

.gurajada-regular {
    font-family: "Gurajada", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

html, body {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    justify-content: right;
    align-items: end;
    background-image: url(img/Untitled\ \(8\).png);
    background-size: cover;
}

form{ 
    height: 75vh;
    width: 35vw;
    margin-top: 80px;
    border-radius: 10px;
}

.logincontainer{
    height: 43vh;
    width: 30vw;
    margin-top: 30px;
    background-color: #87ceeb;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#input1{
    height: 60px;
    width: 27.3vw;
    margin: 20px;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    font-size: medium;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 5px;
    font-family: "Gurajada", sans-serif;
}

.checkbox-container input {
    margin-right: 5px; /* Adjust space between checkbox and label */
    cursor: pointer;
}

.checkbox-container label{
    color: #03131A;
    width: 110px;
}

.checkbox-container a{
    margin-left: 270px;
    text-decoration: none;
    color: #03131A;
    width: 150px;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
  
.submit-container button{
    height: 55px;
    width: 300px;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    transition: 1s;
}

.submit-container button:hover{
    transform: scale(1.1);
    transition: 1s;
}

.dis{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    position: relative;
}

.dis a{
    font-family: "Gurajada", sans-serif;
    text-decoration: none;
    color: #03131A;
    display: inline-block;
    padding-bottom: 5px;
}

.dis a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #03131A;
  visibility: hidden;
  transition: width 0.5s, visibility 0s 0.5s; /* Ensures visibility changes after width transition */
}

.dis a:hover::before {
  width: 35%;
  visibility: visible;
  transition: width 0.5s; /* Ensures width transition during hover */
}
  
.text{
    font-size: 100px;
    margin-bottom: 300px;
    margin-right: 300px;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 58px;
}

.logo, .logotext, .logoimg{
    height: 145px;
    width: 500px;
    text-align: center;
}

.logoimg img{
    height: 100px;
    width: 100px;
    margin-top: 22px;
}